<?xml version="1.0" encoding="UTF-8"?>
<beans  xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:context="http://www.springframework.org/schema/context"
        xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">


    <!--    <bean id="testBean"-->
    <!--          class="com.lisichka.TestBean">-->
    <!--        <constructor-arg value="Tatiana"/>-->
    <!--    </bean>-->

    <!--    <bean id="musicBean"-->
    <!--          class="com.lisichka.RockMusic">-->
    <!--    </bean>-->

    <context:property-placeholder location="classpath:musicPlayer1.properties"/>

    <bean id="musicPlayer1" class="com.lisichka.MusicPlayer" factory-method="getMusicPlayer">
        <property name="musicList">
            <list>
                <bean id="classicalBean" init-method="myInit" destroy-method="myDestroy" class="com.lisichka.ClassicalMusic"/>
                <bean id="rockBean" init-method="myInit" destroy-method="myDestroy" class="com.lisichka.RockMusic"/>
                <bean id="jazzBean" init-method="myInit" destroy-method="myDestroy" class="com.lisichka.JazzMusic"/>
            </list>
        </property>
        <property name="name" value="${musicPlayer1.name}"/>
        <property name="volume" value="${musicPlayer1.volume}"/>
    </bean>

</beans>